<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login Page</title>
	<link rel="stylesheet" href="/css/app.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
	<h1>Login Page</h1>
	<img src="/images/node.jpg" width="20%">

	<form action="/admin">
		<div>
		<label for="user"> Ingrese su usuario</label>
		<input type="text" name="user" id="user">
	</div>

	<button type="submit"> Ingresar</button>
	</form>
	  
</body>
</html>