<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/Admin">Admin</a></li>
      <li><a href="/Login">Login</a></li>
      <li><a href="/Register">Register</a></li>
      <li><a href="/Detail">Detail</a></li>
      <li><a href="/Products">Products</a></li>
    </ul>
</nav>